<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">
    <Appenders>

        // console appender
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        // file appender
        <File name="file" fileName="log.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="file" level="info"/>
        </Root>

    </Loggers>
</Configuration>